* {
    margin: 0px;
    padding: 0px;;
    background-color: whitesmoke;
    font-family:"ヒラギノ角ゴ Pro W3",
     "Hiragino Kaku Gothic Pro", 
     Osaka, "メイリオ",
     Meiryo, "ＭＳ Ｐゴシック",
     "MS PGothic", 
     sans-serif;
}

.header-box {
    display: flex;
    flex-direction: row;
    background-color:rgb(19, 42, 117); 
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.logo {
    display: flex;
    margin-right: 400px;
}

h1,
p,
.footer-text {
    background-color: rgb(19, 42, 117);
    color: whitesmoke;
}

.footer-box {
    display: flex;
    background-color: rgb(19, 42, 117);
    margin-top: 603px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.footer-notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding-left: 20px;
    padding-right: 20px;
}